  .item {
    padding-left: 1.5em;
    font-weight: 600;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 2em;
    width: 95%;
    background-color: #eeeefd;
    border-radius: 10px;
    margin-bottom: 0.5em;
  }

  .avatar {
    padding: 0.5em;
    width: 5em;
    height: 5em;
    border-radius: 30%;
    ;
  }