.header{
    grid-area: h;
    background-color: #1e1b2a;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 0 2em;
  }
  
  .header img {
    width: 60px;
    border-radius: 30%;
    padding: 0.3em;
  }
  
  .text {
    font-size: 1.5em;
    margin-left: 2em;
    font-family: 'Orelega One', cursive;
    color: #ffffff;
    text-shadow: #4c586c;
  }

  .list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .link {
    color: #c4d3ed;
    font-family: "Roboto", serif;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: rgb(244, 241, 187);
  }
