.username {
  color: #38455b;
  text-decoration: none;
  font-size: 1.2em;

  transition: all 0.5s ease;
}

.username:hover,
.username:active {
  color: #000000;
  font-size: 1.3em;
  font-weight: 800;
  
}

